{
  // "presets": [
  //   ["@babel/preset-env", { "targets": { "node": "current" }, "modules": "commonjs" }],
  //   ["@babel/preset-react", { "runtime": "automatic" }]
  // ],
	"presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-syntax-import-meta"]
}
